.overlay {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::ng-deep {
    .mat-grid-tile-content {
        align-items: start !important;
        justify-content: center !important;
    }
}

.tile {
    font-size: large;
    font-weight: 700;
    color: black;
    text-align: center;
}


img {
    width: 100px;
}

mat-paginator {
    display: flex;
    justify-content: center;
}