<div class="pokedex">
  <mat-grid-list cols="3" rowHeight="5rem">
    @for (tile of tiles; track tile) {
    <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows"
      [style.background]="tile.color">{{tile.text}}<br>{{tile.number}}</mat-grid-tile>
    }
  </mat-grid-list>
  <div class="overlay">
    <mat-form-field class="example-form-field">
      <mat-label>national pokedex number</mat-label>
      <input matInput type="text" [(ngModel)]="value" (change)="update()" pattern="\d*" inputmode="numeric">
    </mat-form-field>
  </div>
</div>