<div class="pokedex">
  <mat-grid-list cols="3" rowHeight="5rem">
    @for (tile of tiles; track tile) {
    <mat-grid-tile [colspan]="tile.cols" [rowspan]="tile.rows" [style.background-color]="tile.color"
      [style.background-size]="'contain'" [style.background-repeat]="'no-repeat'" [style.background-position]="'center'"
      [style.background-image]="'url(&quot;' + tile.image + '&quot;)'" class="tile">{{tile.text}}<br>{{tile.number}}<br>
    </mat-grid-tile>
    }
  </mat-grid-list>
  <mat-paginator #paginator class="demo-paginator" [showFirstLastButtons]="true" [pageSize]="pageSize" [length]="length"
    [hidePageSize]="true" [pageIndex]="pageIndex" (page)="handlePageEvent($event)" aria-label="Select page">
  </mat-paginator>
  <div class="overlay">
    <mat-form-field class="example-form-field" [style.width.px]=50>
      <mat-label>Page</mat-label>
      <input matInput placeholder="Page" [value]="binderPage" readonly />
    </mat-form-field>
    <mat-form-field class="example-form-field" [style.width.px]=80>
      <mat-label>Side</mat-label>
      <input matInput placeholder="Page" [value]="binderSide" readonly />
    </mat-form-field>
    <mat-form-field class="example-form-field" [style.width.px]=70>
      <mat-label>NPN</mat-label>
      <input matInput type="text" [(ngModel)]="value" (change)="update()" pattern="\d*" inputmode="numeric">
    </mat-form-field>
  </div>

</div>